.articles {
  /* .articles__container */

  &__container {
  }

  /* .articles__inner */

  &__inner {
    gap: 40rem;
    @include small-tablet {
      gap: 16rem;
    }
  }

  /* .articles__content */

  &__content {
    gap: 40rem;
    @include small-tablet {
      gap: 24rem;
    }
  }

  /* .articles__list-box */

  &__list-box {
    gap: 40rem;
    align-items: center;
    @include small-tablet {
      gap: 20rem;
    }
  }

  /* .articles__list */

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20rem;
    @include small-tablet {
      display: flex;
      flex-direction: column;
      gap: 12rem;
    }
  }
}

.article {
  /* .article__img-wrap */
  border-radius: 20rem;
  background: $white;
  padding: 12rem;
  gap: 12rem;
  height: 100%;
  @include small-tablet {
    border-radius: 12rem;
    gap: 8rem;
    padding: 8rem;
  }
  &__img-wrap {
    position: relative;
  }

  /* .article__img-inner */

  &__img-inner {
    border-radius: 12rem;
    width: 541rem;
    height: 253rem;
    overflow: hidden;
    -webkit-mask-image: url(./assets/images/articleMask.svg);
    mask-image: url(./assets/images/articleMask.svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    @include small-tablet {
      width: 319rem;
      height: 148rem;
      -webkit-mask-image: url(./assets/images/articleMaskMob.svg);
      mask-image: url(./assets/images/articleMaskMob.svg);
      border-radius: 7rem;
    }
  }

  /* .article__img */

  &__img {
    width: 100%;
    height: 100%;
  }

  /* .article__link */

  &__link {
    position: absolute;
    width: 65rem;
    height: 65rem;
    border-radius: 50%;
    top: 0;
    right: 0;
    background: $black;
    @include small-tablet {
      width: 52rem;
      height: 52rem;
    }
    & img {
      width: 32rem;
      height: 32rem;
      @include small-tablet {
        width: 24rem;
        height: 24rem;
      }
    }
  }

  /* .article__content */

  &__content {
    padding: 16rem;
    background: $gray;
    border-radius: 12rem;
    flex-grow: 1;
    gap: 24rem;
    @include small-tablet {
      border-radius: 12rem;
      gap: 16rem;
    }
  }

  /* .article__info */

  &__info {
    gap: 12rem;
    flex-grow: 1;
    @include small-tablet {
      gap: 8rem;
    }
  }

  /* .article__title */

  &__title {
  }

  /* .article__time */

  &__time {
    flex-grow: 1;
    display: flex;
    align-items: flex-end;
    gap: 8rem;
    @include small-tablet {
      gap: 4rem;
    }
  }

  /* .article__time-svg */

  &__time-svg {
    width: 28rem;
    height: 28rem;
    @include small-tablet {
      width: 20rem;
      height: 20rem;
    }
  }

  /* .article__desc */

  &__desc {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    @include small-tablet {
      -webkit-line-clamp: 4;
    }
  }

  /* .article__person */

  &__person {
    gap: 15rem;
    @include small-tablet {
      gap: 8rem;
    }
  }

  /* .article__photo */

  &__photo {
    border-radius: 50%;
    overflow: hidden;
    width: 64rem;
    height: 64rem;
    flex-shrink: 0;
    @include small-tablet {
      width: 56rem;
      height: 56rem;
    }
  }

  /* .article__persone-info */

  &__persone-info {
    gap: 1rem;
  }

  /* .article__persone-name */

  &__persone-name {
  }

  /* .article__persone-position */

  &__persone-position {
    color: $gray-txt;
  }
}
