.cert {
  /* .cert__container */

  &__container {
  }

  /* .cert__inner */

  &__inner {
    gap: 40rem;
    @include small-tablet {
      gap: 24rem;
    }
  }

  /* .cert__head */

  &__head {
  }

  /* .cert__btn-box */

  &__btn-box {
  }

  /* .cert__btn */

  &__btn {
  }

  /* .cert__btn--prev */

  &__btn--prev {
  }

  /* .cert__btn-next */

  &__btn-next {
  }

  /* .cert__swiper-box */

  &__swiper-box {
    @include small-tablet {
      gap: 20rem;
    }
  }

  /* .cert__swiper */

  &__swiper {
    width: 100%;
    @include small-tablet {
      overflow: visible !important;
    }
  }

  /* .cert__swiper-wrapper */

  &__swiper-wrapper {
  }

  /* .cert__slide */

  &__slide {
    height: auto !important;
  }

  /* .cert__slide-inner */

  &__slide-inner {
    border-radius: 20rem;
    background: $white;
    padding: 12rem;
    height: 100%;
    gap: 12rem;
    @include small-tablet {
      border-radius: 12rem;
      gap: 8rem;
    }
  }

  /* .cert__img-wrap */

  &__img-wrap {
    position: relative;
  }
  /* .cert__img-inner */

  &__img-inner {
    width: 396rem;
    height: 421rem;
    -webkit-mask-image: url(./assets/images/certMask.svg);
    mask-image: url(./assets/images/certMask.svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    background: $black;
    @include small-tablet {
      width: 307rem;
      height: 280rem;
      -webkit-mask-image: url(./assets/images/certMaskMob.svg);
      mask-image: url(./assets/images/certMaskMob.svg);
    }
    &::before {
      content: '';
      position: absolute;

      width: 372rem; /* 186 * 2 */
      height: 263rem; /* 131.5 * 2 */
      background: rgba(255, 255, 255, 0.4);
      border-radius: 50%;
      filter: blur(100px);
      @include small-tablet {
        width: 316rem;
        height: 290rem;
      }
    }
  }
  /* .cert__img */

  &__img {
    width: 418rem;
    height: 279rem;
    position: relative;
    z-index: 2;

    @include small-tablet {
      width: 316rem;
      height: 211rem;
      margin-bottom: -20rem;
    }
  }

  /* .cert__inc */

  &__inc {
    position: absolute;
    width: 65rem;
    height: 65rem;
    border-radius: 50%;
    top: 0;
    right: 0;
    background: $gray;
    @include small-tablet {
      width: 52rem;
      height: 52rem;
    }
    & img {
      width: 32rem;
      height: 32rem;
      @include small-tablet {
        width: 24rem;
        height: 24rem;
      }
    }
  }

  /* .cert__name */

  &__name {
    border-radius: 12rem;
    background: $gray;
    padding: 20rem 45rem;
    text-align: center;
    flex-grow: 1;
    @include small-tablet {
      padding: 24rem 28rem;
      border-radius: 8rem;
    }
  }
}
