.blurBgHeader {
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  background: $white-200;
    background: rgba(57, 60, 67, 0.4);

  @include small-tablet {
    background: rgba(57, 60, 67, 0.4);
  }
}

.header {
  position: fixed;
  z-index: 100;
  top: 40rem;
  width: 100%;
  @include small-tablet {
    padding: 0 8rem;
    top: 20rem;
  }
  /* .header__inner */

  &__inner {
    gap: 20rem;
  }

  &__logo {
    position: relative;
    z-index: 20;
  }
  /* .header__nav-wrapper 
   */

  &__nav-wrapper {
    flex-grow: 1;
    @include small-tablet {
      position: fixed;
      inset: 8rem;
      border-radius: 19rem;
      background: url(./assets/images/menuBg.webp) no-repeat top/cover;
      padding: 104rem 12rem 0;
      display: flex;
      justify-content: space-between;
      gap: 40rem;
      flex-direction: column;
      align-items: flex-start;
      transform: translateX(-120%);
      transition: transform 0.6s;
      overflow: hidden;
      &.isOpen {
        transform: translateX(0);
      }
    }
  }
  /* .header__nav */

  &__nav {
    flex-grow: 1;
    padding: 23rem 99rem;
    border-radius: 60rem;
    @include small-tablet {
      display: flex;
      justify-content: space-between;
      gap: 40rem;
      flex-direction: column;
      align-items: flex-start;
      background: transparent;
      padding: 0;
      height: 100%;
      overflow: auto;
      width: 100%;
      border-radius: unset;
      padding-bottom: 46rem;
    }
  }

  /* .header__list */

  &__list {
    width: 100%;
    color: $white;
    @include small-tablet {
      flex-direction: column;
      color: $black;
      gap: 28rem;
      align-items: flex-start;
      padding-top: 5rem;
      //   line-height: 180%;
    }
  }

  /* .header__link */

  &__link {
    @include small-tablet {
      font-size: 40px;
      font-family: 'Akzidenz';
      text-transform: uppercase;
    }
  }

  /* .header__nav-btn-box */

  &__nav-btn-box {
    @include desk-only {
      display: none;
   
    }

    @include small-tablet {
      display: flex;
      flex-direction: column;
      gap: 24rem;
        & .socials__social {
          background: $black !important;
        }
    }
  }

  /* .header__btn-wrap */

  &__btn-wrap {
    gap: 17rem;
    position: relative;
    z-index: 20;
      & .btn-primary {
        border: 1px solid $black-500;
      }
    @include small-tablet {
      gap: 8rem;
      & .btn-primary {
        display: none;
      
      }
    }
  }
}

.burger {
  @include desk-only {
    display: none;
  }
  @include small-tablet {
    width: 52rem;
    height: 52rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    &.isOpen {
      & .burger__svg {
        & svg {
          & line {
            &.opacity {
              opacity: 0;
            }
            &.left {
              transform: rotate(45deg);
            }
            &.right {
              transform: rotate(-45deg);
            }
          }
        }
      }
    }
  }

  /* .burger__svg */

  &__svg {
    @include small-tablet {
      width: 24rem;
      height: 24rem;
      & line {
        transform-origin: center center;
        transition: transform 0.6s, opacity 0.6s;
      }
    }
  }
}


