@import '../components/_footer';
@import '../components/_header';
@import '../components/_popup';
@import '../components/_hero';
@import '../components/_application';
@import '../components/_consultation';
@import '../components/_about';
@import '../components/_way';
@import '../components/_services';
@import '../components/_education';
@import '../components/_cert';
@import '../components/_reviews';
@import '../components/_test';
@import '../components/_test-list';
@import '../components/_test-section';
@import '../components/_error';
@import '../components/_articles';
@import '../components/_other-articles';
@import '../components/_articles-hero';
@import '../components/_articles-info';
