@import '../components/_footer';
@import '../components/_header';
@import '../components/_popup';
@import '../components/_hero';
@import '../components/_application';
@import '../components/_consultation';
@import '../components/_about';
@import '../components/_way';
@import '../components/_services';
@import '../components/_education';

