.btn-arr {
  display: flex;
  align-items: center;
  gap: 32rem;
  padding: 23rem 20rem 23rem 0;
  -webkit-mask-image: url(./assets/images/btnMask.svg);
  mask-image: url(./assets/images/btnMask.svg);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  mask-size: 100% 100%;
  transition: background 0.3s, color 0.3s;
  width: fit-content;
  @include small-tablet {
    padding: 15rem 13rem 15rem 0;
    min-width: unset;
    gap: 16rem;
    -webkit-mask-image: url(./assets/images/btnMaskMob.svg);
    mask-image: url(./assets/images/btnMaskMob.svg);
  }
  /* .btn-arr__text */

  &__text {
    font-family: 'Akzidenz';
    font-weight: 500;
    font-size: 28rem;
    line-height: 100%;
    text-transform: uppercase;
    margin-left: auto;
    width: 230rem;
    display: flex;
    align-items: center;
    justify-content: center;
    @include small-tablet {
      font-size: 22rem;
      width: 258rem;
    }
  }

  /* .btn-arr__svg */

  &__svg {
    width: 32rem;
    height: 32rem;
    @include small-tablet {
      width: 24rem;
      height: 24rem;
    }
    & svg {
      & path {
        transition: fill 0.3s, stroke 0.3s;
      }
    }
  }
  &--short {
    @include small-tablet {
      padding: 15rem 16rem 15rem 0;
      gap: 19rem;
      -webkit-mask-image: url(./assets/images/btnMask.svg);
      mask-image: url(./assets/images/btnMask.svg);

      & .btn-arr__text {
        width: 172rem;
      }
    }
  }
  &--white {
    background: $white;
    color: $black;
    & .btn-arr__svg {
      & svg {
        & path {
          &.fill {
            fill: $black;
          }
          &.stroke {
            stroke: $black;
          }
        }
      }
    }
  }
  &--black {
    background: $black;
    color: $white;
    & .btn-arr__svg {
      & svg {
        & path {
          &.fill {
            fill: $white;
          }
          &.stroke {
            stroke: $white;
          }
        }
      }
    }
  }
  &[disabled] {
    background: $btn-gray;
    color: $black-500;
    pointer-events: none;

    & .btn-arr__svg {
      & svg {
        & path {
          &.fill {
            fill: $black-500;
          }
          &.stroke {
            stroke: $black-500;
          }
        }
      }
    }
  }
}

.btn-primary {
  font-family: 'Akzidenz';
  font-weight: 500;
  font-size: 28rem;
  line-height: 100%;
  text-transform: uppercase;
  border-radius: 60rem;
  padding: 22rem;
  background: $white;
  min-width: 230rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  &--black {
    background: $black;
    color: $white;
  }
  @include small-tablet {
    padding: 15rem;
    min-height: unset;
    width: 100%;
    font-size: 22rem;
  }
}
