// @import '@fancyapps/ui/dist/fancybox/fancybox.css';

// html.with-fancybox body.hide-scrollbar {
//   //   overflow: visible !important;
//   //   margin-right: 0 !important;
// }

// .fancybox__container {
//   --fancybox-bg: rgba(30, 37, 45, 0.2) !important;
//   transition: opacity 0.3s;
//   &[aria-hidden='false'] {
//     opacity: 1;
//     & .fancybox__carousel {
//       opacity: 1;
//     }
//     & .fancybox__backdrop {
//       opacity: 1;
//     }
//   }
//   &[aria-hidden='true'] {
//     opacity: 0;
//     & .fancybox__backdrop {
//       opacity: 0;
//     }
//     & .fancybox__carousel {
//       opacity: 0;
//     }
//   }
// }
// .fancybox__backdrop {
//   display: none;
// }
// .fancybox__carousel {
//   transition: opacity 0.3s;
// }
// .f-button-close {
//   border-radius: 1.6rem !important;
//   width: 40rem !important;
//   height: 40rem !important;
//   display: flex !important;
//   align-items: center !important;
//   justify-content: center !important;
//   background: transparent !important;
//   position: relative !important;
//   margin: 0 !important;
//   padding: 0 !important;
//   pointer-events: all !important;
//   cursor: pointer !important;
//   transition: all 0.3s !important;
//   @include small-tablet {
//     width: 32rem !important;
//     height: 32rem !important;
//   }
//   &:hover {
//     & svg path {
//       stroke: $accent;
//     }
//   }
//   svg {
//     width: 100% !important;
//     height: 100% !important;
//     stroke: none !important;
//     filter: none !important;
//     transition: transform 0.3s !important;
//     & path {
//       transition: stroke 0.3s;
//     }
//   }
// }
// .fancybox__toolbar__column.is-right {
//   margin: 60rem 100rem 0 0;
//   @include small-tablet {
//     margin: 16rem 16rem 0 0;
//   }
// }
// .fancybox__footer {
//   display: none;
// }

// .has-image {
//   gap: 20rem !important;
//   padding: 0 180rem !important;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   @include small-tablet {
//     padding: 0 16rem !important;
//   }
//   &::before,
//   &::after {
//     display: none;
//   }
//   & .fancybox__content {
//     width: auto !important;
//     // min-height: 770rem !important;
//     height: 100%;
//     overflow: hidden !important;
//     transform: none !important;
//     cursor: default !important;
//     margin: 60rem 0;

//     @include small-tablet {
//       width: 343rem !important;
//       height: auto !important;
//     }

//     & img {
//       width: 100%;
//       height: 100%;
//       object-fit: contain;
//       @include small-tablet {
//         width: 100%;
//         height: auto;
//       }
//     }
//   }
// }
// .is-horizontal .f-carousel__nav .f-button.is-prev,
// .is-horizontal .f-carousel__nav .f-button.is-next,
// .is-horizontal .fancybox__nav .f-button.is-prev,
// .is-horizontal .fancybox__nav .f-button.is-next {
//   width: 40rem;
//   height: 40rem;
//   display: flex;
//   align-items: center;
//   justify-content: center;

//   svg {
//     width: 100%;
//     height: 100%;
//     stroke: none;
//     filter: none;
//     transition: transform 0.3s;
//     & path {
//       transition: fill 0.3s;
//     }
//   }
//   &:hover {
//     background: transparent !important;
//     & svg path {
//       fill: $accent;
//     }
//   }
// }
// .is-horizontal .f-carousel__nav .f-button.is-prev,
// .is-horizontal .fancybox__nav .f-button.is-prev {
//   left: 100rem !important;
//   @include small-tablet {
//     top: auto !important;
//     bottom: 40rem !important;
//     left: 50% !important;
//     transform: translate(-130%) !important;
//   }
// }
// .is-horizontal .f-carousel__nav .f-button.is-next,
// .is-horizontal .fancybox__nav .f-button.is-next {
//   right: 100rem !important;
//   @include small-tablet {
//     top: auto !important;
//     bottom: 40rem !important;
//     right: 50% !important;
//     transform: translate(130%) !important;
//   }
// }
// .fancybox__nav .f-button:before {
//   inset: 0 !important;
// }

// .fancybox-bg {
//   position: fixed;
//   top: 0;
//   bottom: 0;
//   right: 0;
//   left: 0;
//   z-index: 1010;
//   -webkit-backdrop-filter: blur(20px);
//   backdrop-filter: blur(20px);
//   background: rgba(11, 42, 52, 0.4);
//   display: none;
// }
