<section class="about">
  <div class="about__container container">
    <div class="about__inner grid">
      <div class="about__info flex dc sb">
        <p class="h2">Обо мне</p>
        <div class="about__requests flex dc">
          <p class="h4">с какими запросами я работаю</p>

          <div class="about__requests-box flex dc">
            <ul class="about__requests-list about__requests-list--show flex"></ul>
            <div class="about__requests-wrap">
              <div class="about__requests-inner flex dc">
                <div class="about__requests-list about__requests-list--hide flex">
                  <button
                    data-popup="#popup__illness-no-photo"
                    class="about__requests-item"
                    data-da=".about__requests-list--show, 768, first"
                  >
                    <p class="txt18">Сахарный диабет</p>
                    <div class="about__requests-item-arr-wrap">
                      <div class="about__requests-item-arr">
                        <img src="./assets/images/arr-left.svg" alt="" />
                      </div>
                    </div>
                  </button>
                  <button data-popup="#popup__illness" class="about__requests-item">
                    <p class="txt18">Ожирение и метаболический синдром </p>
                    <div class="about__requests-item-arr-wrap">
                      <div class="about__requests-item-arr">
                        <img src="./assets/images/arr-left.svg" alt="" />
                      </div>
                    </div>
                  </button>
                  <button
                    data-popup="#popup__illness-no-photo"
                    class="about__requests-item"
                    data-da=".about__requests-list--show, 768, last"
                  >
            
                    <p class="txt18">Остеопороз</p>
                    <div class="about__requests-item-arr-wrap">
                      <div class="about__requests-item-arr">
                        <img src="./assets/images/arr-left.svg" alt="" />
                      </div>
                    </div>
                  </button>
                  <button data-popup="#popup__illness-no-photo" class="about__requests-item">
                    <p class="txt18">Заболевания щитовидной железы</p>
                    <div class="about__requests-item-arr-wrap">
                      <div class="about__requests-item-arr">
                        <img src="./assets/images/arr-left.svg" alt="" />
                      </div>
                    </div>
                  </button>
                  <button data-popup="#popup__illness-no-photo" class="about__requests-item">
                    <p class="txt18">Патология гипоталамо-гипофизарной системы</p>
                    <div class="about__requests-item-arr-wrap">
                      <div class="about__requests-item-arr">
                        <img src="./assets/images/arr-left.svg" alt="" />
                      </div>
                    </div>
                  </button>
                  <button data-popup="#popup__illness-no-photo" class="about__requests-item">
                    <p class="txt18">Нарушения фосфорно-кальциевого обмена</p>
                    <div class="about__requests-item-arr-wrap">
                      <div class="about__requests-item-arr">
                        <img src="./assets/images/arr-left.svg" alt="" />
                      </div>
                    </div>
                  </button>
                  <button data-popup="#popup__illness-no-photo" class="about__requests-item">
                    <p class="txt18">Заболевания надпочечников</p>
                    <div class="about__requests-item-arr-wrap">
                      <div class="about__requests-item-arr">
                        <img src="./assets/images/arr-left.svg" alt="" />
                      </div>
                    </div>
                  </button>
                  <button data-popup="#popup__illness-no-photo" class="about__requests-item">
            
                    <p class="txt18">Гипогонадизм и другие нарушения репродуктивной системы мужчин и женщин</p>
                    <div class="about__requests-item-arr-wrap">
                      <div class="about__requests-item-arr">
                        <img src="./assets/images/arr-left.svg" alt="" />
                      </div>
                    </div>
                  </button>
                  <button data-popup="#popup__illness-no-photo" class="about__requests-item">
                    <p class="txt18">Недиабетические гипогликемии</p>
                    <div class="about__requests-item-arr-wrap">
                      <div class="about__requests-item-arr">
                        <img src="./assets/images/arr-left.svg" alt="" />
                      </div>
                    </div>
                  </button>
                </div>

                <button data-popup="#popup__illness-no-photo" class="btn-arr btn-arr--black" data-popup="#popup__application">
                  <p class="btn-arr__text">записаться на прием</p>
                  <div class="btn-arr__svg">
                    <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path
                        class="fill"
                        d="M4.68612 14.9994L3.68612 14.9994L3.68612 16.9994L4.68612 16.9994L4.68612 15.9994L4.68612 14.9994ZM25.8993 16.9994C26.4516 16.9994 26.8993 16.5516 26.8993 15.9994C26.8993 15.4471 26.4516 14.9994 25.8993 14.9994L25.8993 15.9994L25.8993 16.9994ZM4.68612 15.9994L4.68612 16.9994H25.8993L25.8993 15.9994L25.8993 14.9994H4.68612L4.68612 15.9994Z"
                        fill="#393C43"
                      />
                      <path
                        class="stroke"
                        d="M18.1212 6.80687L27.3135 15.9993L18.1212 25.1917"
                        stroke="#393C43"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                      />
                    </svg>
                  </div>
                </button>
              </div>
            </div>
          </div>

          <div class="about__show-more txt16 ">
            <div class="about__show-more-text">
              <span>Показать больше</span>
              <span>Скрыть</span>
            </div>
            <div class="about__show-more-arr">
              <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M13.6749 3.51429L13.6749 2.76429L12.1749 2.76429L12.1749 3.51429L12.9249 3.51429L13.6749 3.51429ZM12.1749 19.4242C12.1749 19.8384 12.5107 20.1742 12.9249 20.1742C13.3391 20.1742 13.6749 19.8384 13.6749 19.4242L12.9249 19.4242L12.1749 19.4242ZM12.9249 3.51429L12.1749 3.51429V19.4242L12.9249 19.4242L13.6749 19.4242V3.51429L12.9249 3.51429Z"
                  fill="#393C43"
                />
                <path
                  d="M19.8191 13.5903L12.9248 20.4846L6.03052 13.5903"
                  stroke="#393C43"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </div>
          </div>
        </div>
      </div>

      <ul class="about__list flex dc">
        <li class="about__item flex dc">
          <div class="about__item-head flex cv">
            <div class="about__item-svg">
              <img src="./assets/images/about1.svg" alt="" />
            </div>
            <p class="about__item-title h4">Моя миссия</p>
          </div>
          <p class="txt20">
            Сделать Ваш путь к здоровью и красоте максимально
            <span class="bold">комфортным и эффективным</span>
            .
          </p>
        </li>

        <li class="about__item flex dc">
          <div class="about__item-head flex cv">
            <div class="about__item-svg">
              <img src="./assets/images/about2.svg" alt="" />
            </div>
            <p class="about__item-title h4">БЕЗ ЛИШНИХ ТРАТ</p>
          </div>
          <p class="txt20">
            <span class="bold">Придерживаюсь клинических рекомендаций</span>
            — от меня Вы не получите бесполезные советы и ненужные назначения. 
          </p>
        </li>

        <li class="about__item flex dc">
          <div class="about__item-head flex cv">
            <div class="about__item-svg">
              <img src="./assets/images/about3.svg" alt="" />
            </div>
            <p class="about__item-title h4">ПЕРСОНАЛИЗИРОВАННЫЙ ПОДХОД</p>
          </div>
          <p class="txt20">
            Не даю общие советы, а учитываю Ваш
            <span class="bold">эмоциональный фон и индивидуальные особенности</span>
            образа жизни и питания.
          </p>
        </li>

        <li class="about__item flex dc">
          <div class="about__item-head flex cv">
            <div class="about__item-svg">
              <img src="./assets/images/about4.svg" alt="" />
            </div>
            <p class="about__item-title h4">ДОВЕРИЕ И ЭМПАТИЯ</p>
          </div>
          <p class="txt20">
            Я и ВЫ - партнеры. Минимум критики и давления,
            <span class="bold">максимум эмпатии и поддержки</span>
            в совместной работе.
          </p>
        </li>
      </ul>
    </div>
  </div>
</section>
