<section class="articles-hero _first">
  <div class="articles-hero__container container">
    <div class="articles-hero__inner">
      <div class="articles-hero__content flex dc">
        <nav class="breadcrumbs">
          <ul class="breadcrumbs__list txt16">
            <li><a href="#">Главная</a></li>
            <li><a href="#">Статьи</a></li>
            <li><p>Метаболическая активность микробиоты толстой кишки </p></li>
          </ul>
        </nav>

        <div class="articles-hero__info flex dc sb">
          <p class="h2">Метаболическая активность микробиоты толстой кишки </p>

          <div class="article__time flex cv">
            <div class="article__time-svg">
              <img src="./assets/images/calendar.svg" alt="" />
            </div>
            <p class="txt16">27.11.2024 г.</p>
          </div>
        </div>
      </div>
      <div class="articles-hero__img">
        <img src="./assets/images/articleDet.webp" alt="" />
      </div>
    </div>
  </div>
</section>
