<section class="cert">
  <div class="cert__container container">
    <div class="cert__inner flex dc">
      <div class="cert__head flex cv sb">
        <p class="h2">Дипломы</p>
        <div class="cert__btn-box swiper-btn-box flex cv" data-da=".cert__swiper-box, 768, last">
          <button class="cert__btn cert__btn--prev swiper-button swiper-button-prev">
            <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M21.4105 13.5145L22.1605 13.5145L22.1605 12.0145L21.4105 12.0145L21.4105 12.7645L21.4105 13.5145ZM5.50062 12.0145C5.0864 12.0145 4.75062 12.3503 4.75062 12.7645C4.75062 13.1787 5.0864 13.5145 5.50062 13.5145L5.50062 12.7645L5.50062 12.0145ZM21.4105 12.7645L21.4105 12.0145H5.50062L5.50062 12.7645L5.50062 13.5145H21.4105L21.4105 12.7645Z"
                fill="white"
              />
              <path
                d="M11.3345 19.6587L4.44018 12.7644L11.3345 5.87012"
                stroke="white"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </button>
          <button class="cert__btn cert__btn-next swiper-button swiper-button-next">
            <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M4.43958 12.0153L3.68958 12.0153L3.68958 13.5153L4.43958 13.5153L4.43958 12.7653L4.43958 12.0153ZM20.3495 13.5153C20.7637 13.5153 21.0995 13.1795 21.0995 12.7653C21.0995 12.3511 20.7637 12.0153 20.3495 12.0153L20.3495 12.7653L20.3495 13.5153ZM4.43958 12.7653L4.43958 13.5153H20.3495L20.3495 12.7653L20.3495 12.0153H4.43958L4.43958 12.7653Z"
                fill="white"
              />
              <path
                d="M14.5156 5.87109L21.4099 12.7654L14.5156 19.6597"
                stroke="white"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </button>
        </div>
      </div>
      <div class="cert__swiper-box flex dc">
        <div class="cert__swiper swiper">
          <div class="cert__swiper-wrapper swiper-wrapper">
            <div class="cert__slide swiper-slide">
              <a href="#" data-fancybox="cert" data-src="./assets/images/certFancybox.webp" class="cert__slide-inner flex dc">
                <div class="cert__img-wrap">
                  <div class="cert__img-inner flex-cc">
                    <div class="cert__img">
                      <img src="./assets/images/cert1.webp" alt="" />
                    </div>
                  </div>
                  <div class="cert__inc flex-cc">
                    <img src="./assets/images/inc.svg" alt="" />
                  </div>
                </div>
                <div class="cert__name">
                  <p class="h5">Диплом о высшем медицинском образовании «Лечебное дело»</p>
                </div>
              </a>
            </div>
            <div class="cert__slide swiper-slide">
              <a href="#" data-fancybox="cert" data-src="./assets/images/certFancybox.webp" class="cert__slide-inner flex dc">
                <div class="cert__img-wrap">
                  <div class="cert__img-inner flex-cc">
                    <div class="cert__img">
                      <img src="./assets/images/cert2.webp" alt="" />
                    </div>
                  </div>
                  <div class="cert__inc flex-cc">
                    <img src="./assets/images/inc.svg" alt="" />
                  </div>
                </div>
                <div class="cert__name">
                  <p class="h5">удостоверение о повышении квалификации</p>
                </div>
              </a>
            </div>
            <div class="cert__slide swiper-slide">
              <a href="#" data-fancybox="cert" data-src="./assets/images/certFancybox.webp" class="cert__slide-inner flex dc">
                <div class="cert__img-wrap">
                  <div class="cert__img-inner flex-cc">
                    <div class="cert__img">
                      <img src="./assets/images/cert3.webp" alt="" />
                    </div>
                  </div>
                  <div class="cert__inc flex-cc">
                    <img src="./assets/images/inc.svg" alt="" />
                  </div>
                </div>
                <div class="cert__name">
                  <p class="h5">Сертификат обучения «Ведение бариатрического пациента от а до я»</p>
                </div>
              </a>
            </div>
            <div class="cert__slide swiper-slide">
              <a href="#" data-fancybox="cert" data-src="./assets/images/certFancybox.webp" class="cert__slide-inner flex dc">
                <div class="cert__img-wrap">
                  <div class="cert__img-inner flex-cc">
                    <div class="cert__img">
                      <img src="./assets/images/cert4.webp" alt="" />
                    </div>
                  </div>
                  <div class="cert__inc flex-cc">
                    <img src="./assets/images/inc.svg" alt="" />
                  </div>
                </div>
                <div class="cert__name">
                  <p class="h5">удостоверение о повышении квалификации</p>
                </div>
              </a>
            </div>
            <div class="cert__slide swiper-slide">
              <a href="#" data-fancybox="cert" data-src="./assets/images/certFancybox.webp" class="cert__slide-inner flex dc">
                <div class="cert__img-wrap">
                  <div class="cert__img-inner flex-cc">
                    <div class="cert__img">
                      <img src="./assets/images/cert1.webp" alt="" />
                    </div>
                  </div>
                  <div class="cert__inc flex-cc">
                    <img src="./assets/images/inc.svg" alt="" />
                  </div>
                </div>
                <div class="cert__name">
                  <p class="h5">Диплом о высшем медицинском образовании «Лечебное дело»</p>
                </div>
              </a>
            </div>
            <div class="cert__slide swiper-slide">
              <a href="#" data-fancybox="cert" data-src="./assets/images/certFancybox.webp" class="cert__slide-inner flex dc">
                <div class="cert__img-wrap">
                  <div class="cert__img-inner flex-cc">
                    <div class="cert__img">
                      <img src="./assets/images/cert2.webp" alt="" />
                    </div>
                  </div>
                  <div class="cert__inc flex-cc">
                    <img src="./assets/images/inc.svg" alt="" />
                  </div>
                </div>
                <div class="cert__name">
                  <p class="h5">удостоверение о повышении квалификации</p>
                </div>
              </a>
            </div>
            <div class="cert__slide swiper-slide">
              <a href="#" data-fancybox="cert" data-src="./assets/images/certFancybox.webp" class="cert__slide-inner flex dc">
                <div class="cert__img-wrap">
                  <div class="cert__img-inner flex-cc">
                    <div class="cert__img">
                      <img src="./assets/images/cert3.webp" alt="" />
                    </div>
                  </div>
                  <div class="cert__inc flex-cc">
                    <img src="./assets/images/inc.svg" alt="" />
                  </div>
                </div>
                <div class="cert__name">
                  <p class="h5">Сертификат обучения «Ведение бариатрического пациента от а до я»</p>
                </div>
              </a>
            </div>
            <div class="cert__slide swiper-slide">
              <a href="#" data-fancybox="cert" data-src="./assets/images/certFancybox.webp" class="cert__slide-inner flex dc">
                <div class="cert__img-wrap">
                  <div class="cert__img-inner flex-cc">
                    <div class="cert__img">
                      <img src="./assets/images/cert4.webp" alt="" />
                    </div>
                  </div>
                  <div class="cert__inc flex-cc">
                    <img src="./assets/images/inc.svg" alt="" />
                  </div>
                </div>
                <div class="cert__name">
                  <p class="h5">удостоверение о повышении квалификации</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
