<footer class="footer">
  <div class="footer__container container">
    <div class="footer__inner flex dc">
      <div class="footer__top flex cv sb">
        <a href="" class="footer__logo logo blurBgHeader">Логотип</a>

        <nav class="footer__nav">
          <ul class="footer__list flex cv txt20">
            <li>
              <a href="#" class="footer__link">Мои услуги</a>
            </li>
            <li>
              <a href="#" class="footer__link">Обо мне</a>
            </li>
            <li>
              <a href="#" class="footer__link">Мой путь</a>
            </li>
            <li>
              <a href="#" class="footer__link">Образование</a>
            </li>
            <li>
              <a href="#" class="footer__link">Отзывы</a>
            </li>
            <li>
              <a href="#" class="footer__link">Статьи</a>
            </li>
          </ul>
        </nav>

        <div class="socials flex cv">
          <a href="tel:+74959693132" class="socials__social blurBgHeader">
            <div class="socials__social-svg">
              <img src="./assets/images/whatsapp.svg" alt="" />
            </div>
          </a>
          <a href="mailto:opt@rebelgroup.ru" class="socials__social blurBgHeader">
            <div class="socials__social-svg">
              <img src="./assets/images/telegram.svg" alt="" />
            </div>
          </a>
        </div>
      </div>
      <div class="footer__bottom flex-cc">
        <p class="txt16">Сopyright 2025</p>
      </div>
    </div>
  </div>
</footer>

<div class="fancybox-bg"></div>
<!-- cookie--show -->
<div class="cookie  flex cv">
  <p class="txt18">
    Этот сайт использует cookie для хранения данных. Продолжая использовать сайт, Вы даете согласие на работу с этими файлами.
  </p>

  <button class="cookie__btn btn-primary btn-primary--black">Принять и закрыть</button>
</div>
