<header class="header" id="header">
  <div class="container">
    <div class="header__inner flex cv sb">
      <a href=""  class="header__logo logo blurBgHeader">Логотип</a>
      <div class="header__nav-wrapper" data-lenis-prevent="true">
        <nav class="header__nav flex cv sb blurBgHeader">
          <ul class="header__list flex cv sb txt20">
            <li>
              <a href="#" class="header__link">Мои услуги</a>
            </li>
            <li>
              <a href="#" class="header__link">Обо мне</a>
            </li>
            <li>
              <a href="#" class="header__link">Мой путь</a>
            </li>
            <li>
              <a href="#" class="header__link">Образование</a>
            </li>
            <li>
              <a href="#" class="header__link">Отзывы</a>
            </li>
            <li>
              <a href="#" class="header__link">Статьи</a>
            </li>
          </ul>

          <div class="header__nav-btn-box">
            <button class="btn-arr btn-arr--black btn-arr--short" data-popup="#popup__application" >
              <p class="btn-arr__text">записаться на прием</p>
              <div class="btn-arr__svg">
                <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path
                    class="fill"
                    d="M4.68612 14.9994L3.68612 14.9994L3.68612 16.9994L4.68612 16.9994L4.68612 15.9994L4.68612 14.9994ZM25.8993 16.9994C26.4516 16.9994 26.8993 16.5516 26.8993 15.9994C26.8993 15.4471 26.4516 14.9994 25.8993 14.9994L25.8993 15.9994L25.8993 16.9994ZM4.68612 15.9994L4.68612 16.9994H25.8993L25.8993 15.9994L25.8993 14.9994H4.68612L4.68612 15.9994Z"
                    fill="#393C43"
                  />
                  <path
                    class="stroke"
                    d="M18.1212 6.80687L27.3135 15.9993L18.1212 25.1917"
                    stroke="#393C43"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                  />
                </svg>
              </div>
            </button>

            <div class="socials flex cv">
              <a href="tel:+74959693132" class="socials__social blurBgHeader">
                <div class="socials__social-svg">
                  <img src="./assets/images/whatsapp.svg" alt="" />
                </div>
              </a>
              <a href="mailto:opt@rebelgroup.ru" class="socials__social blurBgHeader">
                <div class="socials__social-svg">
                  <img src="./assets/images/telegram.svg" alt="" />
                </div>
              </a>
            </div>
          </div>
        </nav>
      </div>
      <div class="header__btn-wrap flex cv">
        <div class="socials flex cv">
          <a href="tel:+74959693132" class="socials__social blurBgHeader">
            <div class="socials__social-svg">
              <img src="./assets/images/whatsapp.svg" alt="" />
            </div>
          </a>
          <a href="mailto:opt@rebelgroup.ru" class="socials__social blurBgHeader">
            <div class="socials__social-svg">
              <img src="./assets/images/telegram.svg" alt="" />
            </div>
          </a>
        </div>

        <button class="btn-primary" data-popup="#popup__application">записаться на прием</button>

        <button class="burger blurBgHeader">
          <div class="burger__svg">
            <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <line
                class="opacity"
                x1="2.1748"
                y1="6.05005"
                x2="21.6748"
                y2="6.05005"
                stroke="white"
                stroke-width="1.5"
                stroke-linecap="round"
              />
              <line
                class="left"
                x1="2.1748"
                y1="12.05"
                x2="21.6748"
                y2="12.05"
                stroke="white"
                stroke-width="1.5"
                stroke-linecap="round"
              />
              <line
                class="right"
                x1="2.1748"
                y1="12.05"
                x2="21.6748"
                y2="12.05"
                stroke="white"
                stroke-width="1.5"
                stroke-linecap="round"
              />
              <line
                class="opacity"
                x1="2.1748"
                y1="18.05"
                x2="21.6748"
                y2="18.05"
                stroke="white"
                stroke-width="1.5"
                stroke-linecap="round"
              />
            </svg>
          </div>
        </button>
      </div>
    </div>
  </div>
</header>
