<section class="hero">
  <picture class="hero__bg">
    <source srcset="./assets/images/heroBgMob.webp" media="(max-width: 768px)" />
    <source srcset="./assets/images/heroBg.webp" media="(min-width: 769px)" />
    <img src="./assets/images/heroBg.webp" alt="Hero background" />
  </picture>
  <div class="hero__container container">
    <div class="hero__inner flex dc">
      <div class="hero__text-wrap flex dc">
        <div class="hero__person flex dc">
          <p class="h1">Золотова елизавета владимировна</p>
          <p class="txt20">Врач-эндокринолог, диетолог, специалист по психологии пищевого поведения. </p>
        </div>

        <div class="hero__btn-wrap " data-da=".hero__aside, 768, first">

      
        <button class="btn-arr btn-arr--white btn-arr--short" data-popup="#popup__application" >
          <p class="btn-arr__text">записаться на прием</p>
          <div class="btn-arr__svg">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                class="fill"
                d="M4.68612 14.9994L3.68612 14.9994L3.68612 16.9994L4.68612 16.9994L4.68612 15.9994L4.68612 14.9994ZM25.8993 16.9994C26.4516 16.9994 26.8993 16.5516 26.8993 15.9994C26.8993 15.4471 26.4516 14.9994 25.8993 14.9994L25.8993 15.9994L25.8993 16.9994ZM4.68612 15.9994L4.68612 16.9994H25.8993L25.8993 15.9994L25.8993 14.9994H4.68612L4.68612 15.9994Z"
                fill="#393C43"
              />
              <path
                class="stroke"
                d="M18.1212 6.80687L27.3135 15.9993L18.1212 25.1917"
                stroke="#393C43"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </div>
        </button>  </div>
      </div>

      <div class="hero__swiper-box">
        <div class="hero__swiper swiper">
          <div class="swiper-wrapper">
            <div class="hero__slide swiper-slide">
              <div class="hero__slide-inner flex dc">
                <div class="hero__slide-text flex dc">
                  <div class="hero__slide-title flex cv">
                    <div class="hero__svg">
                      <img src="./assets/images/heroSvg1.svg" alt="" />
                    </div>
                    <p class="h4">принцип работы</p>
                  </div>
                  <p class="txt20">
                    Работаю в парадигме доказательной медицины с применением современных мировых подходов к диагностике и лечению
                  </p>
                </div>
              </div>
            </div>
            <div class="hero__slide swiper-slide">
              <div class="hero__slide-inner flex dc">
                <div class="hero__slide-text flex dc">
                  <div class="hero__slide-title flex cv">
                    <div class="hero__svg">
                      <img src="./assets/images/heroSvg2.svg" alt="" />
                    </div>
                    <p class="h4">результативность</p>
                  </div>
                  <p class="txt20">
                    Мои пациенты получают не только результат, но и уверенность в том, что они идут правильным и безопасным путем
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="hero__pagination swiper-pagination"></div>
      </div>

      <div class="hero__aside">
        <div class="hero__num-wrap">
          <div class="hero__num-text flex dc">
            <p class="h2">500+</p>
            <p class="txt20">здоровых и счастливых пациентов</p>
          </div>
        </div>
        <div class="hero__video-wrap">
          <button class="hero__video-close">
            <img src="./assets/images/closeVideo.svg" alt="" />
          </button>
          <a href="#" data-fancybox="" data-src="./assets/images/videoTest.mp4" class="hero__video">
            <video class="" preload="metadata" autoplay muted playsinline loop>
              <source src="./assets/images/videoTest.mp4" type="video/mp4" />
            </video>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
