<section class="other-articles">
  <div class="other-articles__container container">
    <div class="other-articles__inner flex dc">
      <div class="other-articles__head-wrap flex dc">
        <div class="other-articles__head flex cv sb">
          <p class="h2">другие статьи</p>

          <div class="other-articles__btn-box swiper-btn-box flex cv" data-da=".other-articles__swiper-box, 768, last">
            <button class="other-articles__btn other-articles__btn--prev swiper-button swiper-button-prev">
              <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M21.4105 13.5145L22.1605 13.5145L22.1605 12.0145L21.4105 12.0145L21.4105 12.7645L21.4105 13.5145ZM5.50062 12.0145C5.0864 12.0145 4.75062 12.3503 4.75062 12.7645C4.75062 13.1787 5.0864 13.5145 5.50062 13.5145L5.50062 12.7645L5.50062 12.0145ZM21.4105 12.7645L21.4105 12.0145H5.50062L5.50062 12.7645L5.50062 13.5145H21.4105L21.4105 12.7645Z"
                  fill="white"
                />
                <path
                  d="M11.3345 19.6587L4.44018 12.7644L11.3345 5.87012"
                  stroke="white"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </button>
            <button class="other-articles__btn other-articles__btn-next swiper-button swiper-button-next">
              <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M4.43958 12.0153L3.68958 12.0153L3.68958 13.5153L4.43958 13.5153L4.43958 12.7653L4.43958 12.0153ZM20.3495 13.5153C20.7637 13.5153 21.0995 13.1795 21.0995 12.7653C21.0995 12.3511 20.7637 12.0153 20.3495 12.0153L20.3495 12.7653L20.3495 13.5153ZM4.43958 12.7653L4.43958 13.5153H20.3495L20.3495 12.7653L20.3495 12.0153H4.43958L4.43958 12.7653Z"
                  fill="white"
                />
                <path
                  d="M14.5156 5.87109L21.4099 12.7654L14.5156 19.6597"
                  stroke="white"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>

      <div class="other-articles__swiper-box flex dc">
        <div class="other-articles__swiper swiper">
          <div class="other-articles__swiper-wrapper swiper-wrapper">
            <div class="other-articles__slide swiper-slide">
              <a href="#" class="article flex dc">
                <div class="article__img-wrap">
                  <div class="article__img-inner flex-cc">
                    <div class="article__img">
                      <img src="./assets/images/article.webp" alt="" />
                    </div>
                  </div>
                  <div class="article__link flex-cc">
                    <img src="./assets/images/arr-link.svg" alt="" />
                  </div>
                </div>

                <div class="article__content flex dc">
                  <div class="article__info flex dc">
                    <p class="article__title h4">Метаболическая активность микробиоты толстой кишки </p>
                    <div class="article__time flex cv">
                      <div class="article__time-svg">
                        <img src="./assets/images/calendar.svg" alt="" />
                      </div>
                      <p class="txt16">27.11.2024 г.</p>
                    </div>
                    <p class="article__desc txt16">
                      Глобальное экономическое и социальное бремя ожирения требует четкого понимания причин и основных факторов,
                      способствующих его развитию, что позволит разработать и эффективно реализовать потенциальные терапевтические
                      пути для непосредственного воздействия на патологию. В последнее время в патогенезе ожирения все большее
                      значение придается состоянию и разнообразию кишечной микробиоты, основное взаимодействие которой с человеком
                      осуществляется через короткоцепочечные жирные кислоты (КЦЖК) – биологически активные вещества, образующиеся
                      при
                    </p>
                  </div>
                </div>
              </a>
            </div>
            <div class="other-articles__slide swiper-slide">
              <a href="#" class="article flex dc">
                <div class="article__img-wrap">
                  <div class="article__img-inner flex-cc">
                    <div class="article__img">
                      <img src="./assets/images/article.webp" alt="" />
                    </div>
                  </div>
                  <div class="article__link flex-cc">
                    <img src="./assets/images/arr-link.svg" alt="" />
                  </div>
                </div>

                <div class="article__content flex dc">
                  <div class="article__info flex dc">
                    <p class="article__title h4">
                      Метаболическая активность микробиоты толстой кишки Метаболическая активность микробиоты толстой кишки 
                    </p>
                    <div class="article__time flex cv">
                      <div class="article__time-svg">
                        <img src="./assets/images/calendar.svg" alt="" />
                      </div>
                      <p class="txt16">27.11.2024 г.</p>
                    </div>
                    <p class="article__desc txt16">
                      Глобальное экономическое и социальное бремя ожирения требует четкого понимания причин и основных факторов,
                      способствующих его развитию, что позволит разработать и эффективно реализовать потенциальные терапевтические
                      пути для непосредственного воздействия на патологию. В последнее время в патогенезе ожирения все большее
                      значение придается состоянию и разнообразию кишечной микробиоты, основное взаимодействие которой с человеком
                      осуществляется через короткоцепочечные жирные кислоты (КЦЖК) – биологически активные вещества, образующиеся
                      при
                    </p>
                  </div>
                </div>
              </a>
            </div>
            <div class="other-articles__slide swiper-slide">
              <a href="#" class="article flex dc">
                <div class="article__img-wrap">
                  <div class="article__img-inner flex-cc">
                    <div class="article__img">
                      <img src="./assets/images/article.webp" alt="" />
                    </div>
                  </div>
                  <div class="article__link flex-cc">
                    <img src="./assets/images/arr-link.svg" alt="" />
                  </div>
                </div>

                <div class="article__content flex dc">
                  <div class="article__info flex dc">
                    <p class="article__title h4">Метаболическая активность микробиоты толстой кишки </p>
                    <div class="article__time flex cv">
                      <div class="article__time-svg">
                        <img src="./assets/images/calendar.svg" alt="" />
                      </div>
                      <p class="txt16">27.11.2024 г.</p>
                    </div>
                    <p class="article__desc txt16">
                      Глобальное экономическое и социальное бремя ожирения требует четкого понимания причин и основных факторов,
                      способствующих его развитию, что позволит разработать и эффективно реализовать потенциальные терапевтические
                      пути для непосредственного воздействия на патологию. В последнее время в патогенезе ожирения все большее
                      значение придается состоянию и разнообразию кишечной микробиоты, основное взаимодействие которой с человеком
                      осуществляется через короткоцепочечные жирные кислоты (КЦЖК) – биологически активные вещества, образующиеся
                      при
                    </p>
                  </div>
                </div>
              </a>
            </div>
            <div class="other-articles__slide swiper-slide">
              <a href="#" class="article flex dc">
                <div class="article__img-wrap">
                  <div class="article__img-inner flex-cc">
                    <div class="article__img">
                      <img src="./assets/images/article.webp" alt="" />
                    </div>
                  </div>
                  <div class="article__link flex-cc">
                    <img src="./assets/images/arr-link.svg" alt="" />
                  </div>
                </div>

                <div class="article__content flex dc">
                  <div class="article__info flex dc">
                    <p class="article__title h4">Метаболическая активность микробиоты толстой кишки </p>
                    <div class="article__time flex cv">
                      <div class="article__time-svg">
                        <img src="./assets/images/calendar.svg" alt="" />
                      </div>
                      <p class="txt16">27.11.2024 г.</p>
                    </div>
                    <p class="article__desc txt16">
                      Глобальное экономическое и социальное бремя ожирения требует четкого понимания причин и основных факторов,
                      способствующих его развитию, что позволит разработать и эффективно реализовать потенциальные терапевтические
                      пути для непосредственного воздействия на патологию. В последнее время в патогенезе ожирения все большее
                      значение придается состоянию и разнообразию кишечной микробиоты, основное взаимодействие которой с человеком
                      осуществляется через короткоцепочечные жирные кислоты (КЦЖК) – биологически активные вещества, образующиеся
                      при
                    </p>
                  </div>
                </div>
              </a>
            </div>
            <div class="other-articles__slide swiper-slide">
              <a href="#" class="article flex dc">
                <div class="article__img-wrap">
                  <div class="article__img-inner flex-cc">
                    <div class="article__img">
                      <img src="./assets/images/article.webp" alt="" />
                    </div>
                  </div>
                  <div class="article__link flex-cc">
                    <img src="./assets/images/arr-link.svg" alt="" />
                  </div>
                </div>

                <div class="article__content flex dc">
                  <div class="article__info flex dc">
                    <p class="article__title h4">
                      Метаболическая активность микробиоты толстой кишки Метаболическая активность микробиоты толстой кишки 
                    </p>
                    <div class="article__time flex cv">
                      <div class="article__time-svg">
                        <img src="./assets/images/calendar.svg" alt="" />
                      </div>
                      <p class="txt16">27.11.2024 г.</p>
                    </div>
                    <p class="article__desc txt16">
                      Глобальное экономическое и социальное бремя ожирения требует четкого понимания причин и основных факторов,
                      способствующих его развитию, что позволит разработать и эффективно реализовать потенциальные терапевтические
                      пути для непосредственного воздействия на патологию. В последнее время в патогенезе ожирения все большее
                      значение придается состоянию и разнообразию кишечной микробиоты, основное взаимодействие которой с человеком
                      осуществляется через короткоцепочечные жирные кислоты (КЦЖК) – биологически активные вещества, образующиеся
                      при
                    </p>
                  </div>
                </div>
              </a>
            </div>
            <div class="other-articles__slide swiper-slide">
              <a href="#" class="article flex dc">
                <div class="article__img-wrap">
                  <div class="article__img-inner flex-cc">
                    <div class="article__img">
                      <img src="./assets/images/article.webp" alt="" />
                    </div>
                  </div>
                  <div class="article__link flex-cc">
                    <img src="./assets/images/arr-link.svg" alt="" />
                  </div>
                </div>

                <div class="article__content flex dc">
                  <div class="article__info flex dc">
                    <p class="article__title h4">Метаболическая активность микробиоты толстой кишки </p>
                    <div class="article__time flex cv">
                      <div class="article__time-svg">
                        <img src="./assets/images/calendar.svg" alt="" />
                      </div>
                      <p class="txt16">27.11.2024 г.</p>
                    </div>
                    <p class="article__desc txt16">
                      Глобальное экономическое и социальное бремя ожирения требует четкого понимания причин и основных факторов,
                      способствующих его развитию, что позволит разработать и эффективно реализовать потенциальные терапевтические
                      пути для непосредственного воздействия на патологию. В последнее время в патогенезе ожирения все большее
                      значение придается состоянию и разнообразию кишечной микробиоты, основное взаимодействие которой с человеком
                      осуществляется через короткоцепочечные жирные кислоты (КЦЖК) – биологически активные вещества, образующиеся
                      при
                    </p>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
