<!-- data-popup-no-close добавить атрибут, если не нужно эту модалку закрывать на клик по оверлею, только по внутненним кнопкам закрытия-->

<!-- <div id="popup__application" aria-hidden="true" class="popup popup--application" data-lenis-prevent="true">
  <div class="popup__wrapper">
    <div class="popup__content">
      <div class="popup__body flex dc">
        <button data-close type="button" class="popup__close-btn">
          <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M30 10L10 30" stroke="#ADC2C9" stroke-width="2" stroke-linecap="round" />
            <path d="M10 10L30 30" stroke="#ADC2C9" stroke-width="2" stroke-linecap="round" />
          </svg>
        </button>
        <div class="popup__body-content flex dc">
          <div class="popup__body-text flex dc">
            <p class="txt32 upper">Напишите нам</p>
          </div>

          <form class="popup__form form flex dc" data-popup-message="#popup__success" data-dev action="">
            <div class="popup__input-box flex dc">
              <label class="form__label">
                <span class="form__label-inner">
                  <input
                    class="input--name form__input txt16 upper"
                    type="text"
                    data-validate
                    data-required="name"
                    autocomplete="off"
                    name="form[]"
                    placeholder="Введите Ваше имя"
                  />
                  <span class="form__placeholder txt12 tight lh140">Ваше имя</span>
                </span>
                <span class="form__error txt10 light">Поле не заполнено</span>
              </label>

              <label class="form__label">
                <span class="form__label-inner">
                  <input
                    class="input--mail form__input txt16 upper"
                    type="text"
                    data-validate
                    data-required="email"
                    autocomplete="off"
                    name="form[]"
                    placeholder="Введите электронную почту"
                  />
                  <span class="form__placeholder txt12 tight lh140">Ваша электронная почта</span>
                </span>
                <span class="form__error txt10 light">Поле не заполнено</span>
              </label>

              <label class="form__label">
                <span class="form__label-inner">
                  <span class="form__textarea-wrap">
                    <textarea class="form__textarea txt16 upper" name="form[]" placeholder="Введите комментарий"></textarea>
                    <span class="form__textarea-count tertiary-color txt12 light lh140">
                      <span class="current"></span>
                      <span>из</span>
                      <span class="all">350</span>
                    </span>
                  </span>
                  <span class="form__placeholder txt12 tight lh140">Ваш комментарий</span>
                </span>
              </label>
            </div>
            <div class="popup__btn-box">
              <label class="form__check-label">
                <input type="checkbox" />
                <span class="form__check-square"></span>
                <span class="txt14 lh140 light tertiary-color">
                  Нажимая кнопку «Отправить», вы даете свое согласие на обработку персональных данных, определенных в
                  <a href="#">Согласии на обработку персональных данных</a>
                </span>
              </label>
              <button disabled type="submit" class="submit-btn accent-btn">отправить</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="popup__success" aria-hidden="true" class="popup popup--success" data-lenis-prevent="true">
  <div class="popup__wrapper">
    <div class="popup__content">
      <div class="popup__body flex dc cv">
        <button data-close type="button" class="popup__close-btn">
          <svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M30 10L10 30" stroke="#ADC2C9" stroke-width="2" stroke-linecap="round" />
            <path d="M10 10L30 30" stroke="#ADC2C9" stroke-width="2" stroke-linecap="round" />
          </svg>
        </button>
        <div class="popup__body-content flex dc cv">
          <div class="popup__body-text flex dc cv">
            <p class="txt32 upper center">Ваша заявка отправлена</p>
            <p class="txt18 light center lh140">
              Ваша заявка успешно отправлена! Мы ответим
              <br />
              Вам в ближайшее время, ожидайте, пожалуйста.
            </p>
          </div>

          <button data-close class="accent-btn">вернуться на главную</button>
        </div>
      </div>
    </div>
  </div>
</div> -->
