<section class="reviews">
  <div class="reviews__container container">
    <div class="reviews__inner flex dc">
      <div class="reviews__head-wrap flex dc">
        <div class="reviews__head flex cv sb">
          <p class="h2">Отзывы</p>

          <div class="reviews__btn-box swiper-btn-box flex cv" data-da=".reviews__swiper-box, 768, last">
            <button class="reviews__btn reviews__btn--prev swiper-button swiper-button-prev">
              <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M21.4105 13.5145L22.1605 13.5145L22.1605 12.0145L21.4105 12.0145L21.4105 12.7645L21.4105 13.5145ZM5.50062 12.0145C5.0864 12.0145 4.75062 12.3503 4.75062 12.7645C4.75062 13.1787 5.0864 13.5145 5.50062 13.5145L5.50062 12.7645L5.50062 12.0145ZM21.4105 12.7645L21.4105 12.0145H5.50062L5.50062 12.7645L5.50062 13.5145H21.4105L21.4105 12.7645Z"
                  fill="white"
                />
                <path
                  d="M11.3345 19.6587L4.44018 12.7644L11.3345 5.87012"
                  stroke="white"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </button>
            <button class="reviews__btn reviews__btn-next swiper-button swiper-button-next">
              <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M4.43958 12.0153L3.68958 12.0153L3.68958 13.5153L4.43958 13.5153L4.43958 12.7653L4.43958 12.0153ZM20.3495 13.5153C20.7637 13.5153 21.0995 13.1795 21.0995 12.7653C21.0995 12.3511 20.7637 12.0153 20.3495 12.0153L20.3495 12.7653L20.3495 13.5153ZM4.43958 12.7653L4.43958 13.5153H20.3495L20.3495 12.7653L20.3495 12.0153H4.43958L4.43958 12.7653Z"
                  fill="white"
                />
                <path
                  d="M14.5156 5.87109L21.4099 12.7654L14.5156 19.6597"
                  stroke="white"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </button>
          </div>
        </div>
        <div class="reviews__links-wrap flex dc">
          <p class="txt20">Оставьте свой отзыв — он поможет другим сделать правильный выбор.</p>
          <ul class="reviews__links flex cv">
            <li><a href="#" class="reviews__link h5">Docdoc.ru</a></li>
            <li><a href="#" class="reviews__link h5">smclinic.ru</a></li>
          </ul>
        </div>
      </div>

      <div class="reviews__swiper-box flex dc">
        <div class="reviews__swiper swiper">
          <div class="reviews__swiper-wrapper swiper-wrapper">
            <div class="reviews__slide swiper-slide">
              <div class="reviews__slide-inner">
                <div class="reviews__slide-content flex dc sb">
                  <div class="reviews__slide-text-box flex dc">
                    <div class="reviews__slide-logo">
                      <img src="./assets/images/prodoctorov.webp" alt="" />
                    </div>
                    <p class="reviews__slide-text txt16">
                      Хочу поблагодарить Золотову Елизавету Владимировну, врача-диетолога. Я очень хотела ребенка, но для этого
                      необходимо было скинуть вес. Что я только не пробовала - не помогало, и только после консультации с врачом,
                      я смогла найти «золотой рецепт» похудения. Благодаря назначениям и рекомендациям Елизаветы Владимировны,
                      моего труда и терпения я смогла осуществить свою мечту - стать мамой.
                    </p>
                  </div>
                  <div class="reviews__slide-person">
                    <p class="h5">Ольга Крылова</p>
                    <p class="txt16">10.09.2025</p>
                  </div>
                </div>
                <div class="reviews__slide-photo">
                  <img src="./assets/images/woman.webp" alt="" />
                </div>
              </div>
            </div>
            <div class="reviews__slide swiper-slide">
              <div class="reviews__slide-inner">
                <div class="reviews__slide-content flex dc sb">
                  <div class="reviews__slide-img-box">
                    <img src="./assets/images/reviews1.webp" alt="" />
                  </div>
                  <div class="reviews__slide-person">
                    <p class="h5">Ольга Крылова</p>
                    <p class="txt16">10.09.2025</p>
                  </div>
                </div>
                <div class="reviews__slide-photo">
                  <img src="./assets/images/woman.webp" alt="" />
                </div>
              </div>
            </div>
            <div class="reviews__slide swiper-slide">
              <div class="reviews__slide-inner">
                <div class="reviews__slide-content flex dc sb">
                  <div class="reviews__slide-text-box flex dc">
                    <div class="reviews__slide-logo">
                      <img src="./assets/images/smclinika.webp" alt="" />
                    </div>
                    <p class="reviews__slide-text txt16">
                      Благодаря Елизавете Владимировне я похудел на 23 кг меньше чем за год, и привел сахар в норму. Спасибо ей и
                      СМ-Клинике
                    </p>
                  </div>
                  <div class="reviews__slide-person">
                    <p class="h5">Владимир</p>
                    <p class="txt16">10.09.2025</p>
                  </div>
                </div>
                <div class="reviews__slide-photo">
                  <img src="./assets/images/man.webp" alt="" />
                </div>
              </div>
            </div>
            <div class="reviews__slide swiper-slide">
              <div class="reviews__slide-inner">
                <div class="reviews__slide-content flex dc sb">
                  <div class="reviews__slide-img-box">
                    <img src="./assets/images/reviews2.webp" alt="" />
                  </div>
                  <div class="reviews__slide-person">
                    <p class="h5">Ольга Крылова</p>
                    <p class="txt16">10.09.2025</p>
                  </div>
                </div>
                <div class="reviews__slide-photo">
                  <img src="./assets/images/woman.webp" alt="" />
                </div>
              </div>
            </div>
            <div class="reviews__slide swiper-slide">
              <div class="reviews__slide-inner">
                <div class="reviews__slide-content flex dc sb">
                  <div class="reviews__slide-text-box flex dc">
                    <div class="reviews__slide-logo">
                      <img src="./assets/images/prodoctorov.webp" alt="" />
                    </div>
                    <p class="reviews__slide-text txt16">
                      Хочу поблагодарить Золотову Елизавету Владимировну, врача-диетолога. Я очень хотела ребенка, но для этого
                      необходимо было скинуть вес. Что я только не пробовала - не помогало, и только после консультации с врачом,
                      я смогла найти «золотой рецепт» похудения. Благодаря назначениям и рекомендациям Елизаветы Владимировны,
                      моего труда и терпения я смогла осуществить свою мечту - стать мамой.
                    </p>
                  </div>
                  <div class="reviews__slide-person">
                    <p class="h5">Ольга Крылова</p>
                    <p class="txt16">10.09.2025</p>
                  </div>
                </div>
                <div class="reviews__slide-photo">
                  <img src="./assets/images/woman.webp" alt="" />
                </div>
              </div>
            </div>
            <div class="reviews__slide swiper-slide">
              <div class="reviews__slide-inner">
                <div class="reviews__slide-content flex dc sb">
                  <div class="reviews__slide-img-box">
                    <img src="./assets/images/reviews1.webp" alt="" />
                  </div>
                  <div class="reviews__slide-person">
                    <p class="h5">Ольга Крылова</p>
                    <p class="txt16">10.09.2025</p>
                  </div>
                </div>
                <div class="reviews__slide-photo">
                  <img src="./assets/images/woman.webp" alt="" />
                </div>
              </div>
            </div>
            <div class="reviews__slide swiper-slide">
              <div class="reviews__slide-inner">
                <div class="reviews__slide-content flex dc sb">
                  <div class="reviews__slide-text-box flex dc">
                    <div class="reviews__slide-logo">
                      <img src="./assets/images/smclinika.webp" alt="" />
                    </div>
                    <p class="reviews__slide-text txt16">
                      Благодаря Елизавете Владимировне я похудел на 23 кг меньше чем за год, и привел сахар в норму. Спасибо ей и
                      СМ-Клинике
                    </p>
                  </div>
                  <div class="reviews__slide-person">
                    <p class="h5">Владимир</p>
                    <p class="txt16">10.09.2025</p>
                  </div>
                </div>
                <div class="reviews__slide-photo">
                  <img src="./assets/images/man.webp" alt="" />
                </div>
              </div>
            </div>
            <div class="reviews__slide swiper-slide">
              <div class="reviews__slide-inner">
                <div class="reviews__slide-content flex dc sb">
                  <div class="reviews__slide-img-box">
                    <img src="./assets/images/reviews2.webp" alt="" />
                  </div>
                  <div class="reviews__slide-person">
                    <p class="h5">Ольга Крылова</p>
                    <p class="txt16">10.09.2025</p>
                  </div>
                </div>
                <div class="reviews__slide-photo">
                  <img src="./assets/images/woman.webp" alt="" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
