<section class="services">
  <div class="services__container container">
    <div class="services__inner">
      <div class="services__content flex dc">
        <div class="services__head flex dc">
          <p class="h2">Услуги</p>
          <p class="txt20">
            На приеме мы работаем вместе - без осуждения и с уважением к вашей проблеме. Для меня не бывает двух одинаковых
            пациентов. Я стараюсь учитывать все: от особенностей организма до образа жизни, чтобы найти оптимальное решение
            проблемы и получить наилучший результат
          </p>
        </div>

        <ul class="services__list flex ">
          <li class="services__item">
            <div class="services__item-inner flex dc sb">
              <div class="services__item-content flex dc sb">
                <div class="services__item-head flex sb">
                  <p class="h4">КОНСУЛЬТАЦИЯ ОНЛАЙН</p>
                  <p class="services__item-num txt20">01</p>
                </div>

                <div class="services__list-box flex dc">
                  <p class="txt20 semibold">Что входит:</p>
                  <ul class="services__inner-list txt16 flex dc">
                    <li class="services__list-item">Подробное обсуждение жалоб и истории развития заболевания</li>
                    <li class="services__list-item">Изучение результатов ранее пройденных обследований (при их наличии)</li>
                    <li class="services__list-item">Разъяснение доступным языком вашей проблемы и путей её решения</li>
                    <li class="services__list-item">Определение дальнейшего хода обследования и лечения</li>
                  </ul>
                </div>
              </div>
              <div class="services__item-price">
                <p class="number">3000 ₽</p>
                <p class="txt16 gray">стоимость услуги</p>
              </div>
            </div>
            <a href="../consultation-online.html" class="services__item-btn" data-popup="#popup__consult-online">
              <img src="./assets/images/arr-link.svg" alt="" />
            </a>
          </li>
          <li class="services__item">
            <div class="services__item-inner flex dc sb">
              <div class="services__item-content flex dc sb">
                <div class="services__item-head flex sb">
                  <p class="h4">КОНСУЛЬТАЦИЯ В КЛИНИКЕ</p>
                  <p class="services__item-num txt20">02</p>
                </div>

                <div class="services__list-box flex dc">
                  <p class="txt20 semibold">Что входит:</p>
                  <ul class="services__inner-list txt16 flex dc">
                    <li class="services__list-item">Подробное обсуждение жалоб, анамнеза, динамики состояния</li>
                    <li class="services__list-item">Изучение результатов ранее пройденных обследований</li>
                    <li class="services__list-item">Осмотр и оценка состава тела (биоимпедансометрия) по показаниям</li>
                    <li class="services__list-item">Разъяснение доступным языком вашей проблемы и путей её решения</li>
                    <li class="services__list-item">Назначение лечения </li>
                  </ul>
                </div>
              </div>
              <div class="services__item-price">
                <p class="number">2900/2700 ₽</p>
                <p class="txt16 gray">стоимость услуги</p>
              </div>
            </div>
            <a href="../consultation-offline.html" class="services__item-btn" data-popup="#popup__consult-offline">
              <img src="./assets/images/arr-link.svg" alt="" />
            </a>
          </li>
          <li class="services__item services__item--dark">
            <div class="services__item-inner flex dc sb">
              <div class="services__item-content flex dc sb">
                <div class="services__item-head flex sb">
                  <p class="h4">КОНСУЛЬТАЦИЯ В КЛИНИКЕ</p>
                  <p class="services__item-num txt20">02</p>
                </div>

                <div class="services__list-box flex dc">
                  <p class="txt20 semibold">Что входит:</p>
                  <ul class="services__inner-list txt16 flex dc">
                    <li class="services__list-item">Изучение истории набора веса и связанных с этим аспектов</li>
                    <li class="services__list-item">Оценка пищевого поведения</li>
                    <li class="services__list-item">Определение целей и формата дальнейшей коммуникации</li>
                    <li class="services__list-item">Наблюдение и оценка характера питания 24/7</li>
                    <li class="services__list-item">Индивидуально составленные диетологические рекомендации</li>
                    <li class="services__list-item">Работа с целью и мотивацией, навязчивым аппетитом и эмоциогенным перееданием</li>
                    <li class="services__list-item">Разработка индивидуального рациона</li>
                  </ul>
                </div>
              </div>
              <div class="services__item-price">
                <p class="number">5000 ₽/нед</p>
                <p class="txt16 gray">стоимость услуги</p>
              </div>
            </div>
            <a href="../consultation-accompaniment.html" class="services__item-btn" data-popup="#popup__consult-accompaniment">
              <img src="./assets/images/arr-link.svg" alt="" />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="services__photo">
    <img src="./assets/images/servicesPhoto.webp" alt="" />
  </div>
</section>
