<section class="test-section">
  <div class="test-section__bg">
    <img src="./assets/images/testSectionBg.webp" alt="" />
  </div>
  <div class="test-section__container container">
    <div class="test-section__inner flex dc">
      <div class="test-section__head flex cv sb">
        <p class="h2">Отзывы</p>
        <a href="#" class="btn-primary" data-da=".test-section__list-box, 768, last">Смотреть все</a>
      </div>
      <div class="test-section__list-box flex dc">
        <ul class="test-section__list">
          <li>
            <a href="#" class="test-list__item">
              <div class="test-list__item-content flex dc">
                <div class="test-list__item-head flex sb">
                  <div class="test-list__item-title flex">
                    <div class="test-list__item-svg">
                      <img src="./assets/images/test1.svg" alt="" />
                    </div>
                    <p class="h4">Лишний вес</p>
                  </div>
                  <p class="test-list__item-num txt20">01</p>
                </div>

                <p class="test-list__item-desk txt18">
                  Определите ваши отношения с едой (Голландский опросник пищевого поведения DEBQ)
                </p>
              </div>
              <div class="test-list__item-btn"><img src="./assets/images/arr-link.svg" alt="" /></div>
            </a>
          </li>
          <li>
            <a href="#" class="test-list__item">
              <div class="test-list__item-content flex dc">
                <div class="test-list__item-head flex sb">
                  <div class="test-list__item-title flex">
                    <div class="test-list__item-svg">
                      <img src="./assets/images/test2.svg" alt="" />
                    </div>
                    <p class="h4">Сахарный диабет и предиабет</p>
                  </div>
                  <p class="test-list__item-num txt20">02</p>
                </div>

                <p class="test-list__item-desk txt18">Узнайте свой риск сахарного диабета/предиабета (опросник FINDRISC)</p>
              </div>
              <div class="test-list__item-btn"><img src="./assets/images/arr-link.svg" alt="" /></div>
            </a>
          </li>
          <li>
            <a href="#" class="test-list__item">
              <div class="test-list__item-content flex dc">
                <div class="test-list__item-head flex sb">
                  <div class="test-list__item-title flex">
                    <div class="test-list__item-svg">
                      <img src="./assets/images/test3.svg" alt="" />
                    </div>
                    <p class="h4">Возрастное снижение половых гормонов</p>
                  </div>
                  <p class="test-list__item-num txt20">03</p>
                </div>

                <p class="test-list__item-desk txt18">
                  Проверьте, есть ли у Вас признаки возрастного снижения тестостерона (для мужчин) (Опросник возрастных симптомов
                  андрогенного дефицита мужчины AMS)
                </p>
              </div>
              <div class="test-list__item-btn">
                <img src="./assets/images/arr-link.svg" alt="" />
              </div>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
