<section class="way">
  <div class="container way__contaniner">
    <div class="way__inner grid">
      <div class="way__img-wrap" data-da=".way__content, 768, 1">
        <div class="way__img">
          <img src="./assets/images/wayPhoto.webp" alt="" />
        </div>
        <div class="way__img-text">
          <p class="txt20">
            «Я убеждена в том, что врач - это тот, кто помогает не только выздороветь, но и начать жить полной жизнью. Именно для
            этого я здесь.»
          </p>
        </div>
      </div>
      <div class="way__content flex dc sb">
        <p class="h2">Мой путь</p>

        <div class="way__swiper-box flex dc ">
          <div class="way__swiper swiper">
            <div class="way__swiper-wrapper swiper-wrapper">
              <div class="way__slide swiper-slide">
                <div class="way__slide-inner flex dc sb">
                  <div class="way__head flex cv">
                    <div class="way__num flex-cc">
                      <p class="num">01</p>
                    </div>
                    <p class="h4">Мечта со школы</p>
                  </div>
                  <p class="txt20">
                    Ещё в школьные годы
                    <span class="bold">главным интересом моей жизни</span>
                    был человеческий организм и то, как он устроен.
                  </p>
                </div>
              </div>
              <div class="way__slide swiper-slide">
                <div class="way__slide-inner flex dc sb">
                  <div class="way__head flex cv">
                    <div class="way__num flex-cc">
                      <p class="num">02</p>
                    </div>
                    <p class="h4">дело жизни</p>
                  </div>
                  <p class="txt20">
                    Фундаментальные знания в области в медицины, любовь к спорту и активному образу жизни привели меня в
                    эндокринологию -
                    <span class="bold">здесь я нашла свое призвание</span>
                    .
                  </p>
                </div>
              </div>
              <div class="way__slide swiper-slide">
                <div class="way__slide-inner flex dc sb">
                  <div class="way__head flex cv">
                    <div class="way__num flex-cc">
                      <p class="num">03</p>
                    </div>
                    <p class="h4">Мой опыт</p>
                  </div>
                  <p class="txt20">
                    Ординатура в Эндокринологическом научном центре - это
                    <span class="bold">
                      бесценный опыт работы со сложными клиническими случаями под руководством сильнейших наставников
                    </span>
                    и навыки слышать и слушать каждого пациента.
                  </p>
                </div>
              </div>
              <div class="way__slide swiper-slide">
                <div class="way__slide-inner flex dc sb">
                  <div class="way__head flex cv">
                    <div class="way__num flex-cc">
                      <p class="num">04</p>
                    </div>
                    <p class="h4">сегодня</p>
                  </div>
                  <p class="txt20">
                    Как эндокринолог и диетолог я слежу за тенденциями в научном медицинском сообществе и применяю их на практике,
                    чтобы оказать Вам
                    <span class="bold">максимально квалифицированную помощь</span>
                    .
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="way__btn-box swiper-btn-box flex cv">
            <button class="way__btn way__btn--prev swiper-button swiper-button-prev">
              <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M21.4105 13.5145L22.1605 13.5145L22.1605 12.0145L21.4105 12.0145L21.4105 12.7645L21.4105 13.5145ZM5.50062 12.0145C5.0864 12.0145 4.75062 12.3503 4.75062 12.7645C4.75062 13.1787 5.0864 13.5145 5.50062 13.5145L5.50062 12.7645L5.50062 12.0145ZM21.4105 12.7645L21.4105 12.0145H5.50062L5.50062 12.7645L5.50062 13.5145H21.4105L21.4105 12.7645Z"
                  fill="white"
                />
                <path
                  d="M11.3345 19.6587L4.44018 12.7644L11.3345 5.87012"
                  stroke="white"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </button>
            <button class="way__btn way__btn-next swiper-button swiper-button-next">
              <svg width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M4.43958 12.0153L3.68958 12.0153L3.68958 13.5153L4.43958 13.5153L4.43958 12.7653L4.43958 12.0153ZM20.3495 13.5153C20.7637 13.5153 21.0995 13.1795 21.0995 12.7653C21.0995 12.3511 20.7637 12.0153 20.3495 12.0153L20.3495 12.7653L20.3495 13.5153ZM4.43958 12.7653L4.43958 13.5153H20.3495L20.3495 12.7653L20.3495 12.0153H4.43958L4.43958 12.7653Z"
                  fill="white"
                />
                <path
                  d="M14.5156 5.87109L21.4099 12.7654L14.5156 19.6597"
                  stroke="white"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
