@font-face {
  font-family: 'Gilroy';
  src: url('./assets/fonts/Gilroy-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('./assets/fonts/Gilroy-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Gilroy';
  src: url('./assets/fonts/Gilroy-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Akzidenz';
  src: url('./assets/fonts/Akzidenz-Grotesk-Pro-Condensed.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'FF';
  src: url('./assets/fonts/FF-Good-Pro-Cond.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}
