@import './mixins';
@import './flexs';

$white: #fff;
$black: #393c43;
$black-500: rgba(57, 60, 67, 0.5);
$white-200: rgba(255, 255, 255, 0.2);
$gray: #e8e8e8;
$gray-txt: #74777b;
$gray-light: #f5f5f5;
$btn-gray:  #d9d9d9;


@include desk-only {
  html.lenis,
  html.lenis body {
    height: auto;
  }

  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }

  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }

  .lenis.lenis-stopped {
    // overflow: hidden;
  }

  .lenis.lenis-smooth iframe {
    pointer-events: none;
  }
}

body {
  color: $black;
  background: $white;
  font-family: 'Gilroy';

  .lock & {
    overflow: hidden;
    touch-action: none;
  }
  &.no-scroll {
    overflow: hidden !important;
    touch-action: none !important;
    width: 100vw;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
  position: relative;

  // overflow: hidden;
}

* {
  // outline:  1px solid red;
}
// main
main {
  flex-grow: 1;
  section {
    margin: 20rem 0;
    @include small-tablet {
      padding: 12rem 0;
    }
  }
}

.desktop {
  display: flex;
  @include small-tablet {
    display: none;
  }
}

.mobile {
  display: none;

  @include small-tablet {
    display: flex;
  }
}

.flex {
  display: flex;
}
.grid {
  display: grid;
}

.cv {
  align-items: center;
}
.ev {
  align-items: flex-end;
}
.sb {
  justify-content: space-between;
}
.jfe {
  justify-content: flex-end;
}
.dc {
  flex-direction: column;
}
.flex-cc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
}

/* .values__swiper */

@import './ui/ui';
